body{
    font-family: arial;
}

#calendar{
    height:80vh;
    width:80vw;
}
h1{
    text-transform: capitalize;
}
#calendar{
    text-transform: capitalize;
}
.wrapper{
    display:flex;
    width:100%;
    margin:auto;
    justify-content: space-evenly;
}
.vertical{
    display: flex;
    flex-direction: column;
}
.new-event>*{
    margin-bottom: 1rem;
}
textarea{
    width:100%
}
.invisible{
    position:fixed;
    visibility: hidden;
}